.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 80px;
    text-decoration: none;
    align-items: baseline;
    color: #242a30
}

.col-12-3>ul li a {
    color: #282828;
    justify-content: left;
}

.col-12-2>ul li a {
    color: #282828;
    justify-content: left;
}

.site-footer .menus h4 {
    color: #282828;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.container9 {
    margin: auto;
    width: 90%;
    margin-top: 80px;
}

.social {
    display: flex;
    width: 20px;
}

.social>#twitter>img {
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 50%;

}

.social>#linkiden>img {
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 50%;

}

.social>#facebook>img {
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 50%;


}
.container9{
    width: 90%;
    margin: auto;
    margin-top: 90px;
    display: flex;
    gap: 20px;
}
.dogesh{
    display: flex;
   
}
.social{
width: 30%;

}
#para {
    color: #282828;
    text-decoration: underline;
    margin-left: 70px;
    font-weight: bolder;
}

#para1 {
    font-weight: 400;
    color: #282828;
    font-size: 12px;
    font-weight: 900;
    line-height: 28px;
    margin: 0 0 11px;
    margin-left: 70px;
}
.choose{
    margin-left: 20px;
  border: none;
  color: #282828;
    padding: 10px 20px;
    vertical-align: middle;
}
#Laungage{
padding: 8px 20px;
border: none;
border: none!important;
padding-top: 30px!important;
width: 160px!important;
font-size: 12px;
font-weight: 900!important;
letter-spacing: .14em;
line-height: 24px;
text-transform: uppercase;
}
#Laungage>option{
color: #282828;
font-size: 12px;
font-weight: 400;
line-height: 27.98px;
margin: 0 0 1px;
}
.social>a:hover{
color: black;
background-color: white;

}
ul{
    list-style-type: none;
}
.you{
    position: relative;
    left: 18px;
}