<<<<<<< HEAD
=======
#navbar{
    background-color: coral;
    height: 60px;
    padding-top: 30px;
    width: 80%;
    margin: auto;
}
#logo img{
    width: 13%;
}

>>>>>>> 861fa7da65954a186ad0d64cf3f7da5daad42c6a


#integrations h1{
    /* font-weight: 10; */
    font-size:55px;
    margin-bottom: -40px;
    /* margin-top: -1px; */
}
#chrome{
    margin-bottom: -30px;
}
#integrations{
    width: 80%;
    margin: auto;;
}
#youAll{
    margin-top: 40px;
    word-spacing: 15px;
}
#search{
    width: 800px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border-radius: 5%; */
    border: none;
    outline: none;
}
input{
<<<<<<< HEAD
    font-size: 20px;
    color: black;
=======

    font-size: 30px;
    color: red;

    font-size: 20px;
    color: black;

>>>>>>> 861fa7da65954a186ad0d64cf3f7da5daad42c6a
}
::placeholder{
font-size: 20px;
color: black;      }

#container img{
    width: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
    gap: 25px;
}
#container p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
<<<<<<< HEAD
=======

>>>>>>> 861fa7da65954a186ad0d64cf3f7da5daad42c6a
}
#paras{
    width: 80%;
    margin: auto;
    font-size: 20px;
    line-height: 28px;
    font-weight: 550;
    color: #7f8488;padding: 20px 0px;
}
#download{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
#download h2{
    color: #282828;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
#download p{
    color: #7f8488;
    font-size: 20px;
    line-height: 28px;
}
 #mobile img{
    object-fit: cover;
    object-position: center center;
    height: 100%!important;
    width: 100%!important;
}
#download div+div{
    padding-top: 200px;
}
#download div+div p{
    width: 65%;
}
#download div+div img{
    background-color: black;
    width: 70px;
    border-radius: 05px;
}