#navbar{

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1px; */
    gap: 30px;
    background-color: #fff;
    z-index: 50;
    height: 60px;
    position: sticky;
    top: 80px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
    }

    #navbar a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    height: 50%;
    border: none;
    }
    #navbar a:hover{
        border-bottom: 3px solid green;
    }

      #navbar>button{
          height: 100%;
          text-decoration: none;
          border: none;
          background-color: #fff;
      }

     

      #navbar>button:hover{

    border-bottom: 2px solid #282828;

    }


/*------------------------------- TIMECARD --------------------------*/


#timeCard{

      background-color:  #f1bf35;
      margin-top: -40px;
      height: 600px;
}
#timeCard>p{

      padding-top: 140px;
     font-size: 14px;
    line-height: 14px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1.68px;
    text-align: center;
}

#timeCard>img{

      width: 240px;
      height: 150px;
      margin-left: 600px;
}

#timeCard>h2{

    font-size: 36px;
    line-height: 45px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}


#timeCard>a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 0;
    letter-spacing: 1.68px;
    width: 152px;
    height: 34px;
    text-decoration: none;
    margin-left: 650px;
    margin-top: 100px;
}



    /* ------------------ARTICLe DIVV-----------------------  */

    #articl-div{

         display: grid;
         grid-template-columns: repeat(3,1fr);
         width: 95%;
         gap: 10px;
         margin: auto;
         margin-top: 50px;
         
    }

    #articl-div>div
    {
        cursor: pointer;
        padding-bottom: 20px;
        transition: transform .2s;
        
    }
    #articl-div>div:hover {
        transform: scale(1.1);
        overflow:none;

    }

    #articl-div>div{

      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
       width: 95%;
       height: 400px;
       margin-bottom: 20px;
    }


    #articl-div>div:nth-child(1)>img{
          background-color:rgb(122,220,180) ;
    }

    #articl-div>div:nth-child(2)>img{    
        background-color:#b88be3;      
  }


  #articl-div>div:nth-child(3)>img{      
    background-color:rgb(251,105,98);   
}

#articl-div>div:nth-child(4)>img{      
    background-color:#0693e3
}

#articl-div>div:nth-child(5)>img{       
    background-color:#f6c235;   
}

#articl-div>div:nth-child(6)>img{       
    background-color:#f78da7;   
}

#articl-div>div:nth-child(7)>img{       
    background-color:#343434;   
}

#articl-div>div:nth-child(8)>img{      
    background-color:rgb(251,105,98);   
}

#articl-div>div:nth-child(9)>img{       
    background-color:#f6c235;   
}


    #articl-div>div>h4{
        color: #282828;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 25px;
        font-weight: 900;
        font-family:Verdana, Geneva, Tahoma, sans-serif
       
    }